<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Brydż</title>
</head>

<body>
  <section class="cards">
    <img src="images/5D.svg" alt="">
    <img src="images/6D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
    <img src="images/5D.svg" alt="">
  </section>

</body>

</html>
