.auction {
    width: 50%;
    position: absolute;
    right: 2%;


    @media screen and (max-width: map-get($breakpoints, md)) {
        width: 100%;
        top: 43vw;
        right: 0;
        margin-left: 2%;

    }

    @media screen and (max-width: map-get($breakpoints, xs)) {
        top: 45vw;
    }

    .numbers,
    .symbols {
        margin: 1%;

        .btn-group {
            width: 100%;

            @media screen and (max-width: map-get($breakpoints, md)) {
                width: 90%;
            }
        }
    }

    .num,
    .sym {
        width: 100%;
        margin: 2px;

        label {
            width: 100%;

        }
    }

}

.btn,
.table {
    font-size: $font-size;

    @media screen and (max-width: map-get($breakpoints, md)) {
        font-size: $font-size*0.8;
    }

    @media screen and (max-width: map-get($breakpoints, xs)) {
        font-size: $font-size*0.5;
    }

}

.table {
    position: relative;
    margin: 10px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (max-width: map-get($breakpoints, md)) {
        width: 90%;
        transform: translateX(-57%);
    }

    th,
    td {
        width: 50%;
    }
}