.new-game {
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 20px;
    background-color: $nav-color;
    border-bottom: 3px solid darken($nav-color, 50%);

    div {
        justify-content: space-around;

        label {
            max-width: 100px;
            min-width: 50px;

            input {
                display: none;
            }
        }
    }

    .btn {
        font-size: $font-size*1.5;

        @media screen and (max-width: map-get($breakpoints, md)) {
            font-size: $font-size;
        }
    }
}